<div class="flex align-items-center justify-content-center min-h-screen">
  <div class="w-full sm:w-9 md:w-7 lg:w-5">
    <div class="w-full flex align-items-center justify-content-center">
      <img src="/images/logo.svg" alt="Logo" width="128" height="128" />
    </div>
    <h1 class="w-full text-center md:text-left">Password Reset</h1>
    <p class="w-full text-center md:text-left text-400">
      Enter your new password.
    </p>
    <div
      class="surface-card border-1 border-200 p-4 shadow-2 border-round mt-3"
    >
      <div class="w-full mt-3">
        <div class="flex flex-column gap-2">
          <label for="new-password">New Password</label>
          <input
            pInputText
            type="password"
            id="new-password"
            aria-describedby="new-password-help"
            autocomplete="false"
          />
          <small
            id="new-password-help"
            class="text-red-200 text-center sm:text-left"
          >
          </small>
        </div>
        <div class="flex flex-column gap-2">
          <label for="confirm-password">Confirm Password</label>
          <input
            pInputText
            type="password"
            id="confirm-password"
            aria-describedby="confirm-password-help"
            autocomplete="false"
          />
          <small
            id="confirm-password-help"
            class="text-red-200 text-center sm:text-left"
          >
          </small>
        </div>
        <div class="w-full mt-3 md:w-3">
          <p-button pRipple label="Send" size="small" />
        </div>
      </div>
    </div>
  </div>
</div>
