<div
  class="fixed top-2 right-2 flex items-end justify-center px-4 py-6 sm:p-6 sm:items-start sm:justify-end"
>
  <div
    *ngFor="let toast of toasts"
    class="flex items-center max-w-sm w-full shadow-md rounded-lg overflow-hidden border mb-4"
    [ngClass]="this.getClassType(toast)"
  >
    <div
      class="toast-icon flex items-center justify-center flex-shrink-0 w-12 h-12"
    >
      <!-- Check Icon -->
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        *ngIf="toast.type === 'success'"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        ></path>
      </svg>

      <!-- Close Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="toast-close-btn ml-auto p-2 w-8 h-8 cursor-pointer"
        (click)="removeToast(toast.id ?? -1)"
        *ngIf="toast.type === 'error'"
      >
        <path
          d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"
        ></path>
      </svg>
    </div>
    <div class="toast-body px-4 py-2 -mx-3">
      <div class="mx-3">
        <span class="font-semibold">{{ toast.title }}</span>
        <p class="text-sm">{{ toast.message }}</p>
      </div>
    </div>

    <!-- Close Icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="toast-close-btn ml-auto p-2 w-8 h-8 cursor-pointer"
      (click)="removeToast(toast.id ?? -1)"
    >
      <path
        d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"
      ></path>
    </svg>
  </div>
</div>
