<div *ngFor="let toast of toasts">
  <!-- Success Alert -->
  <div
    id="success-alert"
    class="fixed bottom-4 left-4 right-4 md:left-auto md:right-4 bg-teal-50 border-t-2 border-teal-500 rounded-lg p-4 max-w-sm md:max-w-md lg:max-w-lg mx-auto shadow-lg z-[100]"
    role="alert"
    tabindex="-1"
    aria-labelledby="success-label"
    *ngIf="toast.type === 'success'"
  >
    <div class="flex">
      <div class="shrink-0">
        <span
          class="inline-flex justify-center items-center h-8 w-8 rounded-full border-4 border-teal-100 bg-teal-200 text-teal-800"
        >
          <svg
            class="shrink-0 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
            ></path>
            <path d="m9 12 2 2 4-4"></path>
          </svg>
        </span>
      </div>
      <div class="ml-3">
        <h3 id="success-label" class="text-gray-800 font-semibold">
          {{ toast.title }}
        </h3>
        <p class="text-sm text-gray-700">
          {{ toast.message }}
        </p>
      </div>
    </div>
    <div class="absolute top-2 right-2">
      <button
        type="button"
        class="inline-flex bg-teal-50 rounded-lg p-1.5 text-teal-500 hover:bg-teal-100 focus:outline-none focus:bg-teal-100"
        data-hs-remove-element="#success-alert"
        (click)="this.removeToast(toast.id ?? -1)"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="shrink-0 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Danger Alert  -->
  <div
    id="danger-alert"
    class="fixed bottom-4 left-4 right-4 md:left-auto md:right-4 bg-red-50 border-t-2 border-red-500 rounded-lg p-4 w-100 shadow-lg z-[100]"
    role="alert"
    tabindex="-1"
    aria-labelledby="danger-label"
    *ngIf="toast.type === 'error'"
  >
    <div class="flex">
      <div class="shrink-0">
        <span
          class="inline-flex justify-center items-center h-8 w-8 rounded-full border-4 border-red-100 bg-red-200 text-red-800"
        >
          <svg
            class="shrink-0 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-octagon-alert"
          >
            <path d="M12 16h.01" />
            <path d="M12 8v4" />
            <path
              d="M15.312 2a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z"
            />
          </svg>
        </span>
      </div>
      <div class="ms-3">
        <h3 id="danger-label" class="text-gray-800 font-semibold">
          {{ toast.title }}
        </h3>
        <p class="text-sm text-gray-700">
          {{ toast.message }}
        </p>
      </div>
    </div>
    <div class="absolute top-2 right-2">
      <button
        type="button"
        class="inline-flex bg-red-50 rounded-lg p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:bg-red-100"
        data-hs-remove-element="#danger-alert"
        (click)="this.removeToast(toast.id ?? -1)"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="shrink-0 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Warning Alert  -->
  <div
    id="warning-alert"
    class="fixed bottom-4 left-4 right-4 md:left-auto md:right-4 bg-yellow-50 border-t-2 border-yellow-500 rounded-lg p-4 w-100 shadow-lg z-[100]"
    role="alert"
    tabindex="-1"
    aria-labelledby="warning-label"
    *ngIf="toast.type === 'warning'"
  >
    <div class="flex">
      <div class="shrink-0">
        <span
          class="inline-flex justify-center items-center h-8 w-8 rounded-full border-4 border-yellow-100 bg-yellow-200 text-yellow-800"
        >
          <svg
            class="shrink-0 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
            ></path>
            <path d="M12 8v4"></path>
            <path d="M12 16h.01"></path>
          </svg>
        </span>
      </div>
      <div class="ms-3">
        <h3 id="warning-label" class="text-gray-800 font-semibold">
          {{ toast.title }}
        </h3>
        <p class="text-sm text-gray-700">{{ toast.message }}</p>
      </div>
    </div>
    <div class="absolute top-2 right-2">
      <button
        type="button"
        class="inline-flex bg-yellow-50 rounded-lg p-1.5 text-yellow-500 hover:bg-yellow-100 focus:outline-none focus:bg-yellow-100"
        data-hs-remove-element="#warning-alert"
        (click)="this.removeToast(toast.id ?? -1)"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="shrink-0 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Info Alert -->
  <div
    id="info-alert"
    class="fixed bottom-4 left-4 right-4 md:left-auto md:right-4 bg-blue-50 border-t-2 border-blue-500 rounded-lg p-4 w-100 shadow-lg z-[100]"
    role="alert"
    tabindex="-1"
    aria-labelledby="info-label"
    *ngIf="toast.type === 'info'"
  >
    <div class="flex">
      <div class="shrink-0">
        <span
          class="inline-flex justify-center items-center h-8 w-8 rounded-full border-4 border-blue-100 bg-blue-200 text-blue-800"
        >
          <svg
            class="shrink-0 h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-info"
          >
            <circle cx="12" cy="12" r="10" />
            <path d="M12 16v-4" />
            <path d="M12 8h.01" />
          </svg>
        </span>
      </div>
      <div class="ms-3">
        <h3 id="info-label" class="text-gray-800 font-semibold">
          {{ toast.title }}
        </h3>
        <p class="text-sm text-gray-700">{{ toast.message }}</p>
      </div>
    </div>
    <div class="absolute top-2 right-2">
      <button
        type="button"
        class="inline-flex bg-blue-50 rounded-lg p-1.5 text-blue-500 hover:bg-blue-100 focus:outline-none focus:bg-blue-100"
        data-hs-remove-element="#info-alert"
        (click)="this.removeToast(toast.id ?? -1)"
      >
        <span class="sr-only">Dismiss</span>
        <svg
          class="shrink-0 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
