<div class="w-full lg:ps-64">
  <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
    <div class="mx-auto">
      <!-- Card -->
      <div class="flex flex-col">
        <div class="-m-1.5">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="bg-white border border-gray-200 rounded-xl shadow-sm">
              <!-- Header -->
              <div
                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200"
              >
                <div>
                  <h2 class="text-lg/[26px] font-semibold mb-0 text-gray-800">
                    Games
                  </h2>
                  <p class="text-xs text-gray-600">
                    View and manage all your games in one place.
                  </p>
                </div>
                <div>
                  <div class="inline-flex gap-x-2">
                    <a
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                      routerLink="/admin/games/add"
                    >
                      Add Game
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="p-4 md:p-5">
                <div class="py-3">
                  <div class="relative max-w-xs">
                    <label for="hs-table-input-search" class="sr-only"
                      >Search</label
                    >
                    <input
                      type="text"
                      name="hs-table-search"
                      id="hs-table-input-search"
                      class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      placeholder="Search for items"
                      data-hs-datatable-search=""
                    />
                    <div
                      class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3"
                    >
                      <svg
                        class="size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <!-- Table -->
                <div class="flex flex-col">
                  <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                      <div class="border rounded-lg overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                Game
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                Start Port
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                End Port
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                Host by
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                Status
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase"
                              >
                                Actions
                              </th>
                            </tr>
                          </thead>

                          <tbody class="bg-white divide-y divide-gray-200">
                            <tr *ngIf="games.length < 1">
                              <td
                                colspan="6"
                                class="text-center px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                Currently no data.
                              </td>
                            </tr>
                            <tr
                              *ngFor="let game of games"
                              class="odd:bg-white even:bg-gray-100"
                            >
                              <td
                                data-label="Game"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                <div class="flex items-center">
                                  <img
                                    class="size-5 shrink-0 shadow-sm me-1"
                                    src="{{
                                      environment.API_URL
                                    }}/assets/games/{{ game.tag }}.png"
                                    alt="{{ game.name }}"
                                  />
                                  {{ game.name }}
                                </div>
                              </td>
                              <td
                                data-label="Start Port"
                                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"
                              >
                                {{ game.startPort }}
                              </td>
                              <td
                                data-label="End Port"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                {{ game.endPort }}
                              </td>
                              <td
                                data-label="Host by"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                <div class="flex items-center">
                                  <svg
                                    class="size-5 shrink-0 me-1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    *ngIf="game.hostBy === hostBy.SLOT"
                                  >
                                    <line x1="22" x2="2" y1="12" y2="12" />
                                    <path
                                      d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                                    />
                                    <line x1="6" x2="6.01" y1="16" y2="16" />
                                    <line x1="10" x2="10.01" y1="16" y2="16" />
                                  </svg>
                                  <svg
                                    class="size-5 shrink-0 me-1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    *ngIf="
                                      game.hostBy === hostBy.CUSTOM_RESOURCES
                                    "
                                  >
                                    <path
                                      d="M19.439 7.85c-.049.322.059.648.289.878l1.568 1.568c.47.47.706 1.087.706 1.704s-.235 1.233-.706 1.704l-1.611 1.611a.98.98 0 0 1-.837.276c-.47-.07-.802-.48-.968-.925a2.501 2.501 0 1 0-3.214 3.214c.446.166.855.497.925.968a.979.979 0 0 1-.276.837l-1.61 1.61a2.404 2.404 0 0 1-1.705.707 2.402 2.402 0 0 1-1.704-.706l-1.568-1.568a1.026 1.026 0 0 0-.877-.29c-.493.074-.84.504-1.02.968a2.5 2.5 0 1 1-3.237-3.237c.464-.18.894-.527.967-1.02a1.026 1.026 0 0 0-.289-.877l-1.568-1.568A2.402 2.402 0 0 1 1.998 12c0-.617.236-1.234.706-1.704L4.23 8.77c.24-.24.581-.353.917-.303.515.077.877.528 1.073 1.01a2.5 2.5 0 1 0 3.259-3.259c-.482-.196-.933-.558-1.01-1.073-.05-.336.062-.676.303-.917l1.525-1.525A2.402 2.402 0 0 1 12 1.998c.617 0 1.234.236 1.704.706l1.568 1.568c.23.23.556.338.877.29.493-.074.84-.504 1.02-.968a2.5 2.5 0 1 1 3.237 3.237c-.464.18-.894.527-.967 1.02Z"
                                    />
                                  </svg>
                                  {{
                                    game.hostBy === hostBy.CUSTOM_RESOURCES
                                      ? "Custom Resources"
                                      : "Slots"
                                  }}
                                </div>
                              </td>
                              <td
                                data-label="Status"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                <span
                                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-semibold bg-teal-100 text-teal-800"
                                  *ngIf="game.active"
                                  >Active</span
                                >
                                <span
                                  class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-semibold bg-red-100 text-red-800"
                                  *ngIf="!game.active"
                                  >Inactive</span
                                >
                              </td>
                              <td
                                data-label="Actions"
                                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"
                              >
                                <div class="flex gap-2 justify-end">
                                  <button
                                    routerLink="/admin/games/edit/{{ game.id }}"
                                    type="button"
                                    class="py-1.5 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-yellow-500 text-white hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600 disabled:opacity-50 disabled:pointer-events-none"
                                  >
                                    Edit
                                  </button>
                                  <button
                                    type="button"
                                    class="py-1.5 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600 disabled:opacity-50 disabled:pointer-events-none"
                                    aria-haspopup="dialog"
                                    aria-expanded="false"
                                    aria-controls="hs-scale-animation-modal"
                                    data-hs-overlay="#hs-scale-animation-modal"
                                    (click)="onSelectGame(game.id)"
                                  >
                                    Delete
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Table -->

                <!-- Pagination -->
                <div class="hidden items-center justify-end space-x-4 py-3">
                  <!-- Previous Button -->
                  <a
                    href=""
                    class="py-2 px-3 inline-flex items-center gap-x-0 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                  >
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m15 18-6-6 6-6" />
                    </svg>
                    Prev
                  </a>
                  <!-- End Previous Button -->

                  <!-- Page Indicator -->
                  <div
                    class="flex items-center space-x-2 text-sm font-medium text-gray-700"
                  >
                    <input
                      type="text"
                      value="2"
                      class="py-2 block w-[38px] text-center border-gray-200 rounded-md text-sm focus:border--gray-600 focus:ring--gray-600 disabled:opacity-50 disabled:pointer-events-none"
                      autocomplete="false"
                      id="page-input"
                    />
                    <span>of</span>
                    <span class="font-semibold">10</span>
                  </div>
                  <!-- End Page Indicator -->

                  <!-- Next Button -->
                  <a
                    href=""
                    class="py-2 px-3 inline-flex items-center gap-x-0 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                  >
                    Next
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m9 18 6-6-6-6" />
                    </svg>
                  </a>
                  <!-- End Next Button -->
                </div>
                <!-- End Pagination -->
              </div>
              <!-- End Body -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <!-- Delete Game Modal -->
    <div
      id="hs-scale-animation-modal"
      class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
      role="dialog"
      tabindex="-1"
      aria-labelledby="hs-scale-animation-modal-label"
    >
      <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center"
      >
        <div
          class="w-full flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto"
        >
          <div class="flex justify-between items-center py-3 px-4 border-b">
            <h3
              id="hs-scale-animation-modal-label"
              class="font-bold text-gray-800"
            >
              Delete Game
            </h3>
            <button
              type="button"
              class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
              aria-label="Close"
              data-hs-overlay="#hs-scale-animation-modal"
              (click)="onDeselectGame()"
            >
              <span class="sr-only">Close</span>
              <svg
                class="shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
          <div class="p-4 overflow-y-auto">
            <p class="mt-1 text-gray-800">
              Are you sure want delete {{ selectedGame?.name }} game?
            </p>
          </div>
          <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
            <button
              class="hidden"
              data-hs-overlay="#hs-scale-animation-modal"
              #deleteGameAlertCloseButton
            >
              close alert
            </button>
            <button
              type="button"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
              data-hs-overlay="#hs-scale-animation-modal"
              (click)="onDeselectGame()"
            >
              Close
            </button>
            <button
              type="button"
              class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 disabled:opacity-50 disabled:pointer-events-none"
              (click)="onDeleteGame()"
            >
              <div
                class="absolute animate-spin inline-block size-4 border-[2px] border-current border-t-transparent text-white rounded-full"
                role="status"
                aria-label="loading"
                *ngIf="isLoadingGameDelete"
              >
                <span class="sr-only">Loading...</span>
              </div>
              <span [ngClass]="isLoadingGameDelete ? 'invisible' : 'visible'"
                >Delete</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Delete Game Modal -->
  </div>
</div>
