<!-- Content -->
<div class="w-full lg:ps-64">
  <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
    <!-- Card -->
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div
            class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden"
          >
            <!-- Header -->
            <div
              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200"
            >
              <div>
                <h2 class="text-xl font-semibold text-gray-800">Add Game</h2>
                <p class="text-sm text-gray-600">
                  On this page, you can add a new game.
                </p>
              </div>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="p-4 md:p-5">
              <!-- Form -->
              <form [formGroup]="gameAddForm">
                <div class="grid gap-y-4">
                  <div class="flex gap-4">
                    <!-- Form Group for Name -->
                    <div class="flex-1">
                      <app-game-select
                        (selectionChange)="onGameSelected($event)"
                        (selectionBlur)="onGameBlur()"
                        autocomplete="false"
                        [ngClass]="
                          gameAddForm.controls['name'].invalid &&
                          (gameAddForm.controls['name'].dirty ||
                            gameAddForm.controls['name'].touched)
                            ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                            : gameAddForm.controls['name'].valid
                            ? 'border-teal-500 focus:border-teal-500 focus:ring-teal-500'
                            : ''
                        "
                      ></app-game-select>
                      <p
                        class="text-sm text-red-600 mt-2"
                        *ngIf="
                          gameAddForm.controls['name'].invalid &&
                          (gameAddForm.controls['name'].dirty ||
                            gameAddForm.controls['name'].touched)
                        "
                      >
                        {{
                          gameAddForm.controls['name'].errors?.['required'] && 'The name field must not be empty.' ||
                          gameAddForm.controls['name'].errors?.['minlength'] && 'The name must contain at least 2 characters.' ||
                          gameAddForm.controls['name'].errors?.['maxlength'] && 'The name must contain a maximum of 30 characters.'
                        }}
                      </p>
                    </div>
                    <!-- End Form Group for Name -->

                    <!-- Form Group for Town -->
                    <div class="flex-1">
                      <div class="relative">
                        <input
                          type="text"
                          id="hs-floating-input-town-value"
                          class="peer p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none focus:pt-6 focus:pb-2 [&amp;:not(:placeholder-shown)]:pt-6 [&amp;:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
                          placeholder=""
                          required
                          formControlName="description"
                          autocomplete="false"
                          [ngClass]="
                            gameAddForm.controls['description'].invalid &&
                            (gameAddForm.controls['description'].dirty ||
                              gameAddForm.controls['description'].touched)
                              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                              : gameAddForm.controls['description'].valid
                              ? 'border-teal-500 focus:border-teal-500 focus:ring-teal-500'
                              : ''
                          "
                        />
                        <label
                          for="hs-floating-input-description-value"
                          class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500"
                          >description</label
                        >

                        <!-- Failure Input -->
                        <div
                          class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3"
                          *ngIf="
                            gameAddForm.controls['description'].invalid &&
                            (gameAddForm.controls['description'].dirty ||
                              gameAddForm.controls['description'].touched)
                          "
                        >
                          <svg
                            class="shrink-0 size-4 text-red-500"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" x2="12" y1="8" y2="12"></line>
                            <line x1="12" x2="12.01" y1="16" y2="16"></line>
                          </svg>
                        </div>

                        <!-- Success Input -->
                        <div
                          class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3"
                          *ngIf="
                            gameAddForm.controls['description'].invalid &&
                            (gameAddForm.controls['description'].dirty ||
                              gameAddForm.controls['description'].touched)
                              ? false
                              : gameAddForm.controls['description'].valid
                              ? true
                              : false
                          "
                        >
                          <svg
                            class="shrink-0 size-4 text-teal-500"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </div>
                      </div>
                      <p
                        class="text-sm text-red-600 mt-2"
                        *ngIf="
                          gameAddForm.controls['description'].invalid &&
                          (gameAddForm.controls['description'].dirty ||
                            gameAddForm.controls['description'].touched)
                        "
                      >
                        {{
                          gameAddForm.controls['description'].errors?.['required'] && 'The description field must not be empty.' ||
                          gameAddForm.controls['description'].errors?.['minlength'] && 'The description must contain at least 2 characters.' ||
                          gameAddForm.controls['description'].errors?.['maxlength'] && 'The description must contain a maximum of 30 characters.' ||
                          gameAddForm.controls['description'].errors?.['pattern'] && 'The description must contain only characters.'
                        }}
                      </p>
                    </div>
                    <!-- End Form Group for Description -->
                  </div>

                  <!-- Form Group for Country Banner -->
                  <div>
                    <div
                      id="dismiss-alert"
                      class="hs-removing:opacity-0 transition duration-300 bg-blue-50 border border-blue-200 text-sm text-blue-800 rounded-lg p-4 mb-1"
                      role="alert"
                      tabindex="-1"
                      aria-labelledby="hs-dismiss-button-label"
                    >
                      <div class="flex">
                        <div class="shrink-0">
                          <svg
                            class="shrink-0 size-4 mt-0.5"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-info"
                          >
                            <circle cx="12" cy="12" r="10" />
                            <path d="M12 16v-4" />
                            <path d="M12 8h.01" />
                          </svg>
                        </div>
                        <div class="ms-2">
                          <h3
                            id="hs-dismiss-button-label"
                            class="text-sm font-medium"
                          >
                            Supported extensions are: {{ allowedExtenstions }}
                          </h3>
                        </div>
                        <div class="ps-3 ms-auto">
                          <div class="-mx-1.5 -my-1.5">
                            <button
                              type="button"
                              class="inline-flex bg-blue-50 rounded-lg p-1.5 text-blue-500 hover:bg-blue-100 focus:outline-none focus:bg-blue-100"
                              data-hs-remove-element="#dismiss-alert"
                            >
                              <span class="sr-only">Dismiss</span>
                              <svg
                                class="shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="relative">
                      <div>
                        <button
                          type="button"
                          class="relative flex w-full border overflow-hidden border-gray-200 shadow-sm rounded-lg text-sm focus:outline-none focus:z-10 focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                          (click)="fileInput.click()"
                          [ngClass]="
                            gameAddForm.controls['banner'].invalid &&
                            (gameAddForm.controls['banner'].dirty ||
                              gameAddForm.controls['banner'].touched)
                              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                              : gameAddForm.controls['banner'].valid
                              ? 'border-teal-500 focus:border-teal-500 focus:ring-teal-500'
                              : ''
                          "
                        >
                          <span class="h-full py-3 px-4 bg-gray-100 text-nowrap"
                            >Choose File</span
                          >
                          <span
                            class="group grow flex overflow-hidden h-full py-3 px-4"
                          >
                            <span *ngIf="!fileName">No Chosen File</span>
                            <span *ngIf="fileName">{{ fileName }}</span>
                          </span>
                        </button>

                        <!-- Failure Input -->
                        <div
                          class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3"
                          *ngIf="
                            gameAddForm.controls['banner'].invalid &&
                            (gameAddForm.controls['banner'].dirty ||
                              gameAddForm.controls['banner'].touched)
                          "
                        >
                          <svg
                            class="shrink-0 size-4 text-red-500"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" x2="12" y1="8" y2="12"></line>
                            <line x1="12" x2="12.01" y1="16" y2="16"></line>
                          </svg>
                        </div>

                        <!-- Success Input -->
                        <div
                          class="absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3"
                          *ngIf="
                            gameAddForm.controls['banner'].invalid &&
                            (gameAddForm.controls['banner'].dirty ||
                              gameAddForm.controls['banner'].touched)
                              ? false
                              : gameAddForm.controls['banner'].valid
                              ? true
                              : false
                          "
                        >
                          <svg
                            class="shrink-0 size-4 text-teal-500"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </div>
                      </div>
                      <input
                        id="hs-floating-input-banner-value"
                        type="file"
                        (change)="onIconChange($event)"
                        #fileInput
                        class="hidden"
                        required
                        autocomplete="false"
                      />
                    </div>
                    <p
                      class="text-sm text-red-600 mt-2"
                      *ngIf="
                        gameAddForm.controls['banner'].invalid &&
                        (gameAddForm.controls['banner'].dirty ||
                          gameAddForm.controls['banner'].touched)
                      "
                    >
                      {{
                        gameAddForm.controls['banner'].errors?.['required'] && 'The banner field must not be empty.' ||
                        gameAddForm.controls['banner'].errors?.['imageExtension'] && 'The image extension of ' + fileName + ' is not supported.' ||
                        gameAddForm.controls['banner'].errors?.['imageSize'] && 'The size of your image ' + fileName + ' is ' + gameAddForm.controls['banner'].errors?.['imageSize'].actualSize + ', the maximum size is ' + gameAddForm.controls['banner'].errors?.['imageSize'].maxSize + '.'
                      }}
                    </p>
                  </div>
                  <!-- End Form Group for Country banner -->

                  <!-- Buttons -->
                  <div class="inline-flex justify-end gap-x-2">
                    <button
                      type="submit"
                      class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                      (click)="onGameAdd()"
                    >
                      <div
                        class="absolute animate-spin inline-block size-4 border-[2px] border-current border-t-transparent text-white rounded-full"
                        role="status"
                        aria-label="loading"
                        *ngIf="isLoadingGameAdd"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                      <span
                        [ngClass]="isLoadingGameAdd ? 'invisible' : 'visible'"
                        >Add</span
                      >
                    </button>
                  </div>
                  <!-- End Buttons -->
                </div>
              </form>
              <!-- End Form -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div
              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200"
            ></div>
            <!-- End Footer -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
