<div class="w-full lg:ps-64">
  <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
    <!-- Form -->
    <div class="mx-auto">
      <!-- Card -->
      <div class="flex flex-col">
        <div class="-m-1.5">
          <!-- Header -->
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="bg-white border border-gray-200 rounded-xl shadow-sm">
              <div
                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200"
              >
                <div>
                  <h2 class="text-lg/[26px] font-semibold mb-0 text-gray-800">
                    Locations
                  </h2>
                  <p class="text-xs text-gray-600">Manage machine locations.</p>
                </div>
                <div>
                  <div class="inline-flex gap-x-2">
                    <a
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                      routerLink="/admin/locations/add"
                    >
                      Add Location
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="p-4 md:p-5">
                <div class="py-3">
                  <div class="relative max-w-xs">
                    <label for="hs-table-input-search" class="sr-only"
                      >Search</label
                    >
                    <input
                      type="text"
                      name="hs-table-search"
                      id="hs-table-input-search"
                      class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      placeholder="Search for items"
                      data-hs-datatable-search=""
                    />
                    <div
                      class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3"
                    >
                      <svg
                        class="size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col">
                  <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                      <div class="border rounded-lg overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                Country
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
                              >
                                City
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase"
                              >
                                Actions
                              </th>
                            </tr>
                          </thead>

                          <tbody class="bg-white divide-y divide-gray-200">
                            <tr
                              class="odd:bg-white even:bg-gray-100"
                              *ngFor="let location of locations"
                            >
                              <td
                                data-label="Country"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                <div class="flex items-center">
                                  <img
                                    class="size-5 shrink-0 rounded-md shadow-sm me-1"
                                    src="{{
                                      environment.API_URL
                                    }}/assets/flags/1x1/{{
                                      location.countryTag
                                    }}.svg"
                                    alt="{{ location.country }}"
                                  />
                                  {{ location.country }}
                                </div>
                              </td>
                              <td
                                data-label="City"
                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"
                              >
                                {{ location.town }}
                              </td>
                              <td
                                data-label="Actions"
                                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium"
                              >
                                <div class="flex gap-2 justify-end">
                                  <button
                                    routerLink="/admin/locations/edit/1"
                                    type="button"
                                    class="py-1.5 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-yellow-500 text-white hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600 disabled:opacity-50 disabled:pointer-events-none"
                                    routerLink="/admin/locations/edit/{{
                                      location.id
                                    }}"
                                  >
                                    Edit
                                  </button>
                                  <button
                                    type="button"
                                    class="py-1.5 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600 disabled:opacity-50 disabled:pointer-events-none"
                                    aria-haspopup="dialog"
                                    aria-expanded="false"
                                    aria-controls="hs-scale-animation-modal"
                                    data-hs-overlay="#hs-scale-animation-modal"
                                    (click)="onSelectLocation(location.id)"
                                  >
                                    Delete
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hidden items-center justify-end space-x-4 py-3">
                  <!-- Previous Button -->
                  <a
                    href=""
                    class="py-2 px-3 inline-flex items-center gap-x-0 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                  >
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m15 18-6-6 6-6" />
                    </svg>
                    Prev
                  </a>

                  <!-- Page Indicator -->
                  <div
                    class="flex items-center space-x-2 text-sm font-medium text-gray-700"
                  >
                    <input
                      type="text"
                      value="2"
                      class="py-2 block w-[38px] text-center border-gray-200 rounded-md text-sm focus:border--gray-600 focus:ring--gray-600 disabled:opacity-50 disabled:pointer-events-none"
                      autocomplete="false"
                      id="page-input"
                    />
                    <span>of</span>
                    <span class="font-semibold">10</span>
                  </div>

                  <!-- Next Button -->
                  <a
                    href=""
                    class="py-2 px-3 inline-flex items-center gap-x-0 text-sm/[15px] font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50"
                  >
                    Next
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m9 18 6-6-6-6" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      id="hs-scale-animation-modal"
      class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
      role="dialog"
      tabindex="-1"
      aria-labelledby="hs-scale-animation-modal-label"
    >
      <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center"
      >
        <div
          class="w-full flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto"
        >
          <div class="flex justify-between items-center py-3 px-4 border-b">
            <h3
              id="hs-scale-animation-modal-label"
              class="font-bold text-gray-800"
            >
              Delete Location
            </h3>
            <button
              type="button"
              class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
              aria-label="Close"
              data-hs-overlay="#hs-scale-animation-modal"
            >
              <span class="sr-only">Close</span>
              <svg
                class="shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
          <div class="p-4 overflow-y-auto">
            <p class="mt-1 text-gray-800">
              Are you sure want delete {{ selectedLocation?.country }},
              {{ selectedLocation?.town }} location?
            </p>
          </div>
          <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
            <button
              class="hidden"
              data-hs-overlay="#hs-scale-animation-modal"
              #deleteLocationAlertCloseButton
            >
              close alert
            </button>
            <button
              type="button"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
              data-hs-overlay="#hs-scale-animation-modal"
              (click)="onDeselectLocation()"
            >
              Close
            </button>
            <button
              type="button"
              class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 disabled:opacity-50 disabled:pointer-events-none"
              (click)="onDeleteLocation()"
            >
              <div
                class="absolute animate-spin inline-block size-4 border-[2px] border-current border-t-transparent text-white rounded-full"
                role="status"
                aria-label="loading"
                *ngIf="isLoadingLocationDelete"
              >
                <span class="sr-only">Loading...</span>
              </div>
              <span
                [ngClass]="isLoadingLocationDelete ? 'invisible' : 'visible'"
                >Delete</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
