@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

/* TOOLTIP START */

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.tooltip::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip-show {
  opacity: 1;
}

.tooltip-top::before {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

.tooltip-bottom::before {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
}

.tooltip-left::before {
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(180deg);
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
}

.tooltip-right::before {
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(-180deg);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.75);
}

/* TOOLTIP END */
