@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  @apply bg-gray-100 py-16;
}

/* INPUT VALIDATION CLASSES START */

@layer components {
  .input-invalid {
    @apply border-red-500 !important;
    @apply ring-0 !important;
  }

  .input-valid {
    @apply border-green-500 !important;
    @apply ring-0 !important;
  }
}

/* INPUT VALIDATION CLASSES END */

/* TOASTER START */

@layer components {
  .toast-success {
    @apply bg-green-800 border-green-300;
  }

  .toast-success .toast-icon svg {
    @apply text-green-300;
  }

  .toast-success .toast-body span {
    @apply text-green-300;
  }

  .toast-success .toast-body p {
    @apply text-white;
  }

  .toast-success .toast-close-btn {
    @apply text-white;
  }

  .toast-error {
    @apply bg-red-800 border-red-300;
  }

  .toast-error .toast-icon svg {
    @apply text-red-300;
  }

  .toast-error .toast-body span {
    @apply text-red-300;
  }

  .toast-error .toast-body p {
    @apply text-white;
  }

  .toast-error .toast-close-btn {
    @apply text-white;
  }
}

/* TOASTER END */

/* TOOLTIP START */

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 0.8rem;
  max-width: 20rem;
  word-wrap: break-word;
  border-radius: 0.25rem;
  white-space: normal;
  z-index: 1000;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.tooltip::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip-show {
  opacity: 1;
}

.tooltip-top::before {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0;
  border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
}

.tooltip-bottom::before {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px;
  border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}

.tooltip-left::before {
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(180deg);
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(0, 0, 0, 1) transparent transparent;
}

.tooltip-right::before {
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(-180deg);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 1);
}

/* TOOLTIP END */
